{% load i18n %}
<script>
    define('layer-info', [], function () {
        var layerInfo = {
            {% for type in resource_types %}
            "{{type.resourcetypeid}}": {
                id: "{{type.resourcetypeid}}",
                icon: "{{type.icon_class}}",
                name: "{{type.name}}",
                description: "{{type.description}}",
                categories: [
                    {% for category in type.categories %}
                    "{{category}}"
                    {% endfor %}
                ]
            },
            {% endfor %}
        };

        return layerInfo;
    });
</script>