{% extends "views/forms/base.htm" %}
{% load i18n %}

{% block form_content %}
<!-- Resource Type CRUD Form -->
<div class="row">
    <div class="col-xs-12">
        <div class="padding-left-10">
            
            <dl>
                <!-- Title -->
                <dt>
                    <h5 id="arches-names-form" class="section-headline">{% trans "Historic Resource Type" %}</h5>
                </dt>

                <!-- Form -->
                <dd class="arches-RDM-labels">

                    <div class="row">

                        <div class="col-xs-12 padding-left-0">

                            <!-- Form for screens > xs -->
                            <!-- <form class="form-inline " role="form"> -->
                                <div class="form-group arches-form hidden-xs" style="width: 100%">
                                    
                                    <div style="width:80%; height: 36px; padding-top: 2px;" class="select2 arches-select2-crud-form resource-type" id="resource-type-dropdown
                                    " data-bind="select2: { data: domains.HERITAGE_RESOURCE_TYPE_E55, placeholder: 'Type', viewModel: HERITAGE_RESOURCE_TYPE_E55, conceptKey: 'HERITAGE_RESOURCE_TYPE_E55'}"></div>

                                </div>
                            <!-- </form> -->
                            <!-- Form for screens > xs -->
                        </div>

                    </div>
                </dd>
                <!-- End Form -->
            </dl>

        </div>
    </div>
</div>
<!-- End Rsource Type CRUD -->


<hr class="devider arches-RDM-divider">

<div id="names-section">
    <!-- Name CRUD Form -->
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                
                <dl>
                    <!-- Title -->
                    <dt>
                        <h5 id="arches-names-form" class="section-headline">{% trans "Names" %}</h5>
                    </dt>

                    <!-- Form -->
                    <dd>
                        <div class="row">

                            <div class="col-xs-12">
                                        
                                <input class="form-control arches-form-input hidden-xs" id="resource-name" style="width: 50%;" placeholder="Name" data-bind='{value: editing.NAME_E41.NAME_E41__value}'>                                    

                                <!-- Spacer (for xs screens) -->
                                <div class="margin-top-5 hidden-sm hidden-md hidden-lg"></div>
                                
                                <div style="width:30%; height: 36px; padding-top: 2px;" class="select2 arches-select2-crud-form name-type hidden-xs" id="resource-name-type" data-bind="select2: { data: domains.NAME_TYPE_E55, placeholder: 'Type', viewModel: editing.NAME_E41, conceptKey: 'NAME_TYPE_E55'}"></div>

                                <!-- Spacer (for xs screens) -->
                                <div class="margin-top-5 hidden-sm hidden-md hidden-lg"></div>

                                {% include 'views/components/add-item-button.htm' %}

                            </div>
                        </div>
                    </dd>
                    <!-- End Form -->

                    <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "The name value must be populated. A resource can only have one primary name." %}</div>
                </dl>

            </div>
        </div>
    </div>
    <!-- End Name CRUD Form Container -->

    <!-- Name Records -->
    <div class="row">
        <div class="col-xs-12">

            <!-- Address -->
            <div class="arches-crud-child-section">
                <dl>
                    <dd class="arches-CRUD-child-title">
                        {% trans "This resource has these names:" %}
                    </dd>

                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: NAME_E41().length == 0" class="txt-color-blue">{% trans "No Names Defined" %}</div>   
                        
                        <div data-bind='foreach: NAME_E41'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="Delete this name"><i data-bind='attr: {"data-index": $index}' class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind='attr: {"data-index": $index}' title="Edit this name"><span data-bind='{text: NAME_E41__value}' style="padding-right:2px;"></span><span class="text-muted arches-crud-type-identifier">(<span data-bind='{text: NAME_TYPE_E55__label}'></span>)</span>
                                </a>
                            </div>
                        </div>
                    </dd>

                </dl>
            </div>
        </div>
    </div>
    <!-- End Name Records -->
</div>

 <hr class="devider arches-RDM-divider">

<div id="subjects-section">
    <!-- Modifications CRUD Form -->
    <div class="row">
        <div class="col-xs-12">
            <div class="padding-left-10">
                
                <dl>
                    <!-- Title -->
                    <dt>
                        <h5 id="arches-subjects-form" class="section-headline">{% trans "Subjects" %}</h5>
                    </dt>

                    <!-- Form -->
                    <dd class="arches-RDM-labels">

                        <div class="row">

                            <div class="col-xs-12 padding-left-0">
                                <form class="form-inline arches-form hidden-xs" role="form">
                                    <div class="form-group" style="width: 100%">

                                        <div style="width:80%; height: 36px; padding-top: 2px;" class="select2 arches-select2-crud-form resource-type" id="keyword-dropdown" data-bind="select2: { data: domains.KEYWORD_E55, placeholder: 'Subject', viewModel: editing.KEYWORD_E55, conceptKey: 'KEYWORD_E55'}"></div>

                                        <!-- Spacer (for xs screens) -->
                                        <div class="margin-top-5 hidden-sm hidden-md hidden-lg"></div>

                                        {% include 'views/components/add-item-button.htm' %}

                                    </div>
                                </form>
                            </div>
                        </div>
                    </dd>
                    <!-- End Form -->
                </dl>

            </div>
        </div>
    </div>
    <!-- End Subjet CRUD -->

    <!-- Subject Records -->
    <div class="row">
        <div class="col-xs-12">

            <!-- Address -->
            <div class="arches-crud-child-section">
                <dl>
                    <dd class="arches-CRUD-child-title">
                        {% trans "These subjects are associated with this resource:" %}
                    </dd>
                    <dd class="margin-left-5" style="display: none;" data-bind="visible: true">
                        <div data-bind="visible: KEYWORD_E55().length == 0" class="txt-color-blue">{% trans "No Subjects Defined" %}</div>   
                        
                        <div data-bind='foreach: KEYWORD_E55'>
                            <div class="arches-crud-record">
                                <a href="javascript:void(0)" class="arches-CRUD-child" title="Delete this subject"><i data-bind='attr: {"data-index": $index}' class="arches-CRUD-delete fa fa-times-circle"></i></a>
                                <a href="javascript:void(0)" class="arches-CRUD-child arches-CRUD-edit" data-bind='attr: {"data-index": $index}' title="Edit this subject"><span data-bind='{text: KEYWORD_E55__label}' style="padding-right:2px;"></span>
                                </a>
                            </div>
                        </div>
                    </dd>

                </dl>

            </div>
        </div>
    </div>
    <!-- End Threats Records -->
</div>
{% endblock form_content %}